<section class="about">
  <div class="container">
    <div class="about-div">
      <h1 class="about-title">About Us</h1>
      <p class="about-subtitle">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about-sub">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <button type="button" class="about-btn">View catalog</button>
    </div>
    <div class="about-div-div">
      <picture>
        <source
          srcset="./images/about-desc1.jpg 1x, ./images/about-desc2.jpg 2x"
          media="(min-width: 1158px)"
        />
        <source
          srcset="./images/about-tab1.jpg 1x, ./images/about-tab2.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/about-mob1.jpg 1x, ./images/about-mob2.jpg 2x"
          media="(min-width: 320px)"
        />
        <img src="./images/about-desc1.jpg" class="about-image" />
      </picture>
    </div>
  </div>
</section>
