<div class="menu-overlay">
  <div>
    <button class="menu-close-btn" type="button">
      <svg class="close-btn" width="40" height="40">
        <use href="./images/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mob-nav">
      <ul class="menu-list">
        <li class="menu-items"><a href="#hero" class="menu-link">Home</a></li>
        <li class="menu-items">
          <a href="#about-us" class="menu-link">About Us</a>
        </li>
        <li class="menu-items">
          <a href="#catalog" class="menu-link">Catalog</a>
        </li>
        <li class="menu-items"><a href="#sale" class="menu-link">Sale</a></li>
        <li class="menu-items">
          <a href="#reviews" class="menu-link">Reviews</a>
        </li>
        <li class="menu-items">
          <a href="#contact-us" class="menu-link">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
  <ul class="menu-soc-list">
    <li class="menu-soc-items">
      <a href="https://www.facebook.com/goITclub/ " class="soc-link">
        <svg class="menu-soc-icons" width="20" height="20">
          <use href="../images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="menu-soc-items">
      <a href="https://www.instagram.com/goitclub/" class="soc-link">
        <svg class="menu-soc-icons" width="20" height="20">
          <use href="../images/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="menu-soc-items">
      <a href="https://www.youtube.com/c/GoIT " class="soc-link">
        <svg class="menu-soc-icons" width="20" height="20">
          <use href="../images/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
