<section class="contact-us" id="contact-us">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="form-container">
      <p class="form-title">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>

      <form class="contact-form">
        <div class="inputs">
          <input
            type="text"
            class="form-input"
            name="user-name"
            placeholder="Name"
            pattern="3"
            required
          />
          <input
            type="text"
            class="form-input"
            name="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <input
            type="text"
            class="form-input"
            name="user-phone"
            placeholder="+380"
            pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
            required
          />
          <textarea
            class="form-textarea"
            name="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="form-button" type="submit">Send</button>
      </form>
    </div>
    <img
      class="contact-img"
      src="./images/contact us/contact-mob1.png"
      srcset="./images/contact us/contact-mob1.png 1x, ./images/contact us/contact-mob1.png 2x"
      alt="watch on rock"
      width="335"
      height="512"
    />
  </div>
</section>
