<header class="header">
    <div class="mob-menu is-open">
        <button type="button" class="mob-menu-btn"><svg class="mob-menu-close" width="34" height="34">
                <use href="./images/symbol-defs.svg#icon-x"></use>
            </svg>
        </button>
        <nav class="mob-navigation">
            <div class="mob-navigation">
                <ul class="header-menu-list">
                    <li class="header-menu-item">
                        <a class="header-menu-link current" href="./index.html">Home</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="./index.html">About Us</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="./index.html">Catalog</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="./index.html">Sale</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="./index.html">Reviews</a>
                    </li>
                    <li class="header-menu-item">
                        <a class="header-menu-link" href="./index.html">Contact Us</a>
                    </li>
                </ul>
                <div class="header-social">
                    <ul class="header-social-list">
                        <li class="header-icon-list">
                            <a href="" class="header-icon">
                                <svg class="icon-header" width="18" header="18">
                                    <use href="./images/symbol-defs.svg#icon-facebook"></use>
                                    </use>
                                </svg>
                            </a>
    
                        </li>
                        <li class="header-icon-list">
                            <a href="" class="header-icon">
                                <svg class="icon-header" width="18" header="18">
                                    <use href="./images/symbol-defs.svg#icon-instagram"></use>
                                    </use>
                                </svg>
                            </a>
    
                        </li>
                        <li class="header-icon-list">
                            <a href="" class="header-icon">
                                <svg class="icon-header" width="18" header="18">
                                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                                    </use>
                                </svg>
                            </a>
    
                        </li>
                    </ul>
    
                </div>
            </div>
        </nav>
    </div>
</header>