<header class="header" id="header">
    <div class="container header-container">
        <a href="./index.html" class="logo">watchcharm</a>
        <nav class="header-nav">
            <ul class="header-list">
                <li class="header-list-item "><a href="#hero" class="header-list-link home">Home</a></li>
                <li class="header-list-item"><a href="#about-us" class="header-list-link home">About Us</a></li>
                <li class="header-list-item"><a href="#catalog" class="header-list-link home">Catalog</a></li>
                <li class="header-list-item"><a href="#sale" class="header-list-link home">Sale</a></li>
                <li class="header-list-item"><a href="#reviews" class="header-list-link home">Reviews</a></li>
                <li class="header-list-item"><a href="#contact-us" class="header-list-link home ">Contact Us</a></li>
            </ul>
        </nav>
        <ul class="header-soc-list">
            <li class="header-soc-item">
                <a href="https://www.facebook.com/goITclub/" target="_blank" class="header-soc-link">
                    <svg class="header-soc-svg" width="20" height="20">
                        <use href="./img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a href="https://www.instagram.com/goitclub/" target="_blank" class="header-soc-link">
                    <svg class="header-soc-svg" width="20" height="20">
                        <use href="./img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a href="https://www.youtube.com/c/GoIT" target="_blank" class="header-soc-link">
                    <svg class="header-soc-svg" width="20" height="20">
                        <use href="./img/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button type="button" class="header-modal-btm">
            <svg class="header-modal-svg" width="28" height="14">
                <use href="./img/symbol-defs.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>