<header class="header">
    <div class=" container header-container">
        <a class="header-logo" href="./index.html">watchcharm</a>
        <nav class="navigation">
            <ul class="header-menu-list">
                <li class="header-menu-item">
                    <a class="header-menu-link current" href="./index.html">Home</a>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link" href="./index.html">About Us</a>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link" href="./index.html">Catalog</a>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link" href="./index.html">Sale</a>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link" href="./index.html">Reviews</a>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link" href="./index.html">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="header-social">
            <ul class="header-social-list">
                <li class="header-icon-list">
                    <a href="" class="header-icon">
                        <svg class="icon-header" width="20" height="20">
                            <use  href="./images/symbol-defs.svg#icon-facebook"></use>
                            </use>
                        </svg>
                    </a>

                </li>
                <li class="header-icon-list">
                    <a href="" class="header-icon">
                        <svg class="icon-header" width="20" height="20">
                            <use href="./images/symbol-defs.svg#icon-instagram"></use>
                            </use>
                        </svg>
                    </a>

                </li>
                <li class="header-icon-list">
                    <a href="" class="header-icon">
                        <svg class="icon-header" width="20" height="20">
                            <use href="./images/symbol-defs.svg#icon-youtube"></use>
                            </use>
                        </svg>
                    </a>

                </li>
            </ul>

        </div>
        <button type="button" class="menu-open-btn">
            <svg class="menu-open-icon" width="34" height="34">
                <use class="icon-menu" href="./images/symbol-defs.svg#icon-Icon"></use>
            </svg>
        </button>
    </div>
</header>