<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-title-container">
        <h1 class="hero-title">
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-link-container">
        <picture class="hero-picture">
          <source
            srcset="
              ./images/hero/reviews-desc1.png 1x,
              ./images/hero/reviews-desc2.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero/reviews-tab1.png 1x,
              ./images/hero/reviews-tab2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero/reviews-mob1.png 1x,
              ./images/hero/reviews-mob2.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/hero/reviews-mob1.png" alt="reviews" />
        </picture>

        <a href="#footer" class="hero-link">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/hero-desc1.jpg 1x,
          ./images/hero/hero-desc2.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/hero/hero-tab1.jpg 1x, ./images/hero/hero-tab2.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/hero/hero-mob1.jpg 1x, ./images/hero/hero-mob2.jpg 2x"
        media="(max-width: 767px)"
      />
      <img src="./images/hero/hero-mob1.jpg" alt="Black watches" />
    </picture>
  </div>
</section>
