<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-title-container">
        <h1 class="hero-title">
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-link-container">
        <picture class="hero-picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/hero/reviewsdesc1.png 1x,
              ./images/hero/reviewsdesc2.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/reviewstab1.png 1x,
              ./images/hero/reviewstab2.png 2x
            "
            type="image/png"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              ./images/hero/reviewsmob1.png 1x,
              ./images/hero/reviewsmob2.png 2x
            "
            type="image/png"
          />
          <img
            src="./images/hero/reviewsmob1.png"
            alt="reviews"
            loading="lazy"
          />
        </picture>

        <a href="#footer" class="hero-link">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/hero/hero-desc1.jpg 1x,
          ./images/hero/hero-desc2.jpg 2x
        "
        type="image/jpg"
      />

      <source
        media="(min-width: 768px)"
        srcset="./images/hero/hero-tab1.jpg 1x, ./images/hero/hero-tab2.jpg 2x"
        type="image/jpg"
      />

      <source
        media="(max-width: 767px)"
        srcset="./images/hero/hero-mob1.jpg 1x, ./images/hero/hero-mob2.jpg 2x"
        type="image/jpg"
      />
      <img
        src="./images//hero/hero-mob1.jpg"
        alt="black watches"
        loading="lazy"
      />
    </picture>
  </div>
</section>
