<section class="reviews">
    <div class="container">
        
        <h2 class="reviews-title">Reviews</h2>
        
    
       <ul class="reviews-team">
           <li class="reviews-item">
                 <div class="content-reviews content-two">
                 <img 
                  srcset="./images/Reviews/first1.png 1x, ./images/Reviews/first2.png 2x"
                  src="./images/Reviews/first1.png"
                  alt="John-Wax"
                  width="56" height="56" />
                  <h3 class="content-name">John Wax</h3>
                  <p class="text-content">Buying a watch from was the best choice for me.
                     The design is perfectly combined with high quality materials. 
                     The strap fits nicely on the hand, and the mechanism works flawlessly
                   </p>
                </div>
            </li>
            <li class="reviews-item">
                <div class="content-reviews content-two">
                  <img 
                   srcset="./images/Reviews/second1.png 1x, ./images/Reviews/second2.png 2x"
                   src="./images/Reviews/second1.png"
                   alt="Victoria-Romashenko"
                   width="56" height="56" />
                  <h3 class="content-name">Victoria Romashenko</h3>
                  <p class="text-content">Can't take my eyes off my watch from.
                     Every time I put it on, it is admired by those around me. 
                     The build quality and attention to detail make it a real gem among my accessories.  
                   </p>
                </div>
             </li>
            <li class="reviews-item">
                  
                <div class="content-reviews content-thrid">
                    <img 
                    srcset="./images/Reviews/third1.png 1x, ./images/Reviews/third2.png 2x"
                    src="./images/Reviews/third1.png"
                    alt="Anastasia-Trachuk"
                    width="56" height="56" />
                   <h3 class="content-name">Anastasia Trachuk</h3>
                   <p class="text-content">My watch from is a real masterpiece.
                      Every detail impresses with the high quality of execution. 
                      Special features like [specify features] make it an indispensable companion in my daily life.
                    </p>
                </div>
             </li>
        </ul>
    </div>
</section>