<section class="sale">
            <div class="container">
                <h2 class="sale-title">Sale</h2>
                <div class="sale-wrap">
                    <div class="sale-watch-wrap">
                        <ul class="sale-watch-list">
                            <li class="sale-watch-item">
                                <picture>
                                <source srcset="../images/Sale/1-desc-tab1.png 1x,../images/Sale/1-desc-tab2.png 2x" media="(min-width: 1280px)" />
                                <source srcset="../images/Sale/1-desc-tab1.png 1x,../images/Sale/1-desc-tab2.png 2x" media="(min-width: 768px)" />
                                <source srcset="../images/Sale/1-mob1.png 1x,../images/Sale/1-mob2.png 2x" media="(min-width: 375px)" />
                                <img src="../images/Sale/1-mob1.png" alt="Watch" width="52" class="sale-img">
                                </picture>
                            </li>
                            <li class="sale-watch-item">
                                <picture>
                                    <source srcset="../images/Sale/2-desc-tab1.png 1x,../images/Sale/2-desc-tab2.png 2x" media="(min-width: 1280px)" />
                                    <source srcset="../images/Sale/2-desc-tab1.png 1x,../images/Sale/2-desc-tab2.png 2x" media="(min-width: 768px)" />
                                    <source srcset="../images/Sale/2-mob1.png 1x,../images/Sale/2-mob2.png 2x" media="(min-width: 375px)" />
                                    <img src="../images/Sale/2-mob1.png" alt="Watch" width="52" class="sale-img">
                                </picture>
                            </li>
                            <li class="sale-watch-item">
                                <picture>
                                    <source srcset="../images/Sale/3-desc-tab1.png 1x,../images/Sale/3-desc-tab2.png 2x" media="(min-width: 1280px)" />
                                    <source srcset="../images/Sale/3-desc-tab1.png 1x,../images/Sale/3-desc-tab1.png 2x" media="(min-width: 768px)" />
                                    <source srcset="../images/Sale/3-mob1.png 1x,../images/Sale/1-mob3.png 2x" media="(min-width: 375px)" />
                                    <img src="../images/Sale/3-mob1.png" alt="Watch" width="52" class="sale-img">
                                </picture>
                            </li>
                            <li class="sale-watch-item">
                                <picture>
                                    <source srcset="../images/Sale/4-desc-tab1.png 1x,../images/Sale/4-desc-tab2.png 2x" media="(min-width: 1280px)" />
                                    <source srcset="../images/Sale/4-desc-tab1.png 1x,../images/Sale/4-desc-tab2.png 2x" media="(min-width: 768px)" />
                                    <source srcset="../images/Sale/4-mob1.png 1x,../images/Sale/4-mob2.png 2x" media="(min-width: 375px)" />
                                    <img src="../images/Sale/4-mob1.png" alt="Watch" width="52" class="sale-img">
                                </picture>
                            </li>
                        </ul>
                        <div class="sale-watch-image">
                            <picture>
                    <source srcset="../images/Sale/main-desc-tab1.png 1x,../images/Sale/main-desc-tab2.png 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="../images/Sale/main-desc-tab1.png 1x,../images/Sale/main-desc-tab2.png 2x" media="(min-width: 768px)" />
                    <source srcset="../images/Sale/main-mob1.png 1x,../images/Sale/main-mob1.png 2x" media="(max-width: 767px)" />
                    <img src="../images/Sale/main-mob1.png" alt="Watch" width="235" class="sale-image1">
                            </picture>
                        </div>
                    </div>
                    <div class="sale-block-wrap">
                        <h3 class="sale-block-title">
                            MARQ® Commander (Gen 2) - Carbon Edition
                        </h3>
                        <p class="sale-text1">Product tag: 706587</p>
                        <ul class="sale-list-price">
                            <li class="sale-price-item">
                                <p class="sale-text2">€1500</p>
                            </li>
                            <li class="sale-price-item">
                                <p class="sale-block-text3">€3000</p>
                            </li>
                        </ul>
                        <p class="sale-text4">
                            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
                            for adventurers that takes materials and features to the next level.
                            The body of the watch is made of very durable Fused Carbon Fiber
                            material and has a precise AMOLED touch screen. The sensitive touch
                            screen is complemented by buttons that can be used in any conditions.
                        </p>
                        <div class="sale-wrap-btn">
                            <ul class="sale-wrap-btn-list ">
                                <li class="sale-btn-item">
                                    <button type="submit" class="sale-btn button-btn1">Fused carbon fiber</button>
                                    <button type="submit" class="sale-btn button-btn2">Grade-5 Titanuim</button>
                                    <button type="submit" class="sale-btn button-btn3">Athlete</button>
                                    <button type="submit" class="sale-btn button-btn4">Golfer</button>
                                    <button type="submit" class="sale-btn button-btn5">Commander</button>
                                    <button type="submit" class="sale-btn button-btn6">Adventurer</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>