.advertisement {
    padding-bottom: 60px;
    height: 363px;
}

.advertisement-wrapper {
    background: url(../images/adverticement/advert-mob1.jpg);
    border-radius: 30px;
}

.advertisement-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding: 28px 28px 60px 28px;
}

.advertisement-accent {
    color: rgba(251, 251, 251, 0.5);
}

.advertisement-contact-btn {
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    width: 160px;
    height: 48px;
    margin-bottom: 60px;
    margin-left: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
}