.footer-container {
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  background-color: #0c0c0c;
}

.sections-footer {
}

.section-footer-vgori {
}

.logo-footer {
}

.logo-footer-logo {
  width: 90px;
  height: 19px;
}

.watchcharm {
  padding-top: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--background);
}
.socials-footer {
  display: flex;
  width: 122px;
  height: 34px;
}

.socials-footer-box {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

/* .mob-namber {
  line-height: 16px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: var(--background);
} */

.have-the-time {
  padding-top: 177px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--background);
}
