.footer{

}
.footer-main{
  padding: 40px 28px 28px 28px;
  background-color: #0c0c0c;
  border-radius: 30px;
}

.watchcharm {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.socials-footer {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}

.footer-logo-block {
  margin-bottom: 40px;
}

.socials-footer-box {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

.svg-soc {
  fill: #fbfbfb;
  opacity: 0.8;
  text-align: center;
}

.svg-soc:hover {
  fill: rgba(251, 251, 251, 1);
  opacity: 1;
}

.svg-soc:focus {
  fill: rgba(251, 251, 251, 1);
  opacity: 1;
}

.svg-soc:active {
  fill: rgba(251, 251, 251, 1);
  opacity: 1;
}


.number-title {
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  height: 44px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.have-the-time {
  padding-top: 40px;
  padding-bottom: 92px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.text-the-watch-spot {
  display: flex;
  width: 152px;
  height: 14px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: #838383;
}

.pioneer {
  margin-right: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
  font-style: normal;
}

.footer-menu {
  display: flex;
  margin-right: 0;
  gap: 49px;
  justify-content: space-between;
}

.footer-menu-iteam {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fbfbfb;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  white-space: nowrap;
}

.menu-iteam-a {
  display: inline-block;
  border: var(--background);
  width: calc(50% - 10px);
  vertical-align: top;
  overflow-wrap: break-word;
  width: 147px;
}

.menu-iteam-h {
  display: flex;
  width: 83px;
  border: var(--background);
  display: inline-block;
  max-width: 83px;
  vertical-align: top;
  word-spacing: normal;
}

.vector-line {
  display: inline-flex;
  margin-bottom: 24px;
  margin-top: 24px;
  background-color: rgba(251, 251, 251, 0.1);
  width: 100%;
  height: 1px;
}

.privacy-policy {
  margin-left: 20px;
}

.the-watch-spot {
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #838383;
}


@media screen and (min-width: 768px) {
  .footer-container {
    padding: 40px 40px 28px 40px;
  }


  .footer-logo-descrip {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-text-wrap {
    margin: 0 auto;
    width: 524px;
  }

  .footer-menu-iteam {
    gap: 19px;
  }

  .watchcharm {
    font-size: 20px;
  }

  .number-title {
    font-size: 14px;
  }

  .pioneer {
    font-size: 14px;
  }

  .number-wrap {
    width: 160px;
    height: 48px;
  }

  .have-the-time {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-logo-wrap {
    display: flex;
    justify-content: space-between;
  }

  .menu-iteam-a {
    width: auto;
  }

  .menu-iteam-h {
    min-width: 162px;
  }

  .footer-copyright {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .vector-line {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .the-watch-spot {}
}

@media screen and (min-width: 1280px) {
  .footer-logo-descrip {
    display: flex;
  }

  .footer-logo-block {
    order: 1;
    margin: 0;
  }

  .number-wrap {
    order: 3;
  }

  .footer-text-wrap {
    display: flex;
    padding-bottom: 126px;
    margin: 0;
    order: 2;
  }

  .have-the-time {
    padding: 0;
  }

  .footer-menu-iteam {
    font-size: 14px;
  }

  .pioneer {
    font-size: 14px;
  }

  .the-watch-spot {
    font-size: 14px;
  }

  .text-the-watch-spot {
    font-size: 14px;
    width: 204px;
  }
}