.menu-overlay {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: image-set(url(../images/header-menu/header-mob1.jpg) 1x, url(../images/header-menu/header-mob2.jpg) 2x);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 186px;
    border: none;
    background-color: transparent;
    flex-shrink: 0;
    display: flex;
    padding: 0;
}

.close-btn {
    stroke: #FBFBFB;
}

.mob-nav {}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-left: 0;
}

.menu-link .current {
    position: relative;
    color: #3350E9;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.menu-items {}

.menu-link {
    color: #FBFBFB;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.menu-soc-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.menu-soc-items {
    border-radius: 10px;
    border: 1px solid rgba(251, 251, 251, 0.10);
    padding: 8px;
}

.menu-soc-icons {
    fill: #FBFBFB;
}

.mob-nav .current {
    position: relative;
}

.current {
    position: relative;
}

.menu-link.current::after {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 50%;
    display: block;
    content: '';
    border: solid 4px #3350E9;
    border-radius: 50%;
    margin-top: 2px;
    transform: translate(-50%);
}

@media screen and (min-width: 768px){
.menu-overlay{
    width: 330px;
    background-image: image-set(url(../images/header-menu/header-tab1.jpg) 1x, url(../images/header-menu/header-tab2.jpg) 2x);
}
.close-btn{
width: 40px;
height: 40px;
}
.menu-close-btn{
    margin-bottom: 244px;
}
.menu-list{
    gap: 32px;
}
}