.header {
border-bottom: 1px solid rgba(12, 12, 12, 0.1);

}
.container {
padding: 20px 0;
width: 375px;
height: 74px;
margin: 0 auto;
}

.header-container {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px ;
margin-bottom: 8px;
}


.header-logo {
font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-right: 211px;
}

.navigation{
display: none;
}
.header-social{
display: none;
}
.menu-open-btn {
line-height: 0;
background-color: transparent;
cursor: pointer;
border: none;
width: 34px;
height: 34px;
display: flex;
justify-content: center;
align-items: center;
fill: #ffffff;
margin-left: 0 auto;
}
.icon-menu {
stroke: #0C0C0C;

}

@media screen and (min-width:768px) {
.container {
width: 768px;
padding: 0 32px;
margin:0;
}
.header-logo {
width: 112px;
font-weight: 500;
font-size: 20px;
letter-spacing: -0.02em;
}
.menu-open-btn{
width: 40px;
height: 40px;
}

}


@media screen and (min-width:1280px) {
.container {
width: 1280px;
padding: 0 65px 0 65px;
}
.header-logo {
/*width: 112px;*/
font-weight: 500;
font-size: 20px;
letter-spacing: -0.02em;
margin-right: 203px;
}
.navigation {
display: flex;
align-items: center;
}
.header-menu-list {
display: flex;
gap: 40px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}      
.header-menu-link{
font-size: 14px;
line-height: 129%;
text-align: center;
color: #0c0c0c;
padding-bottom: 10px;
}
.current {
position: relative;
}

.current::after {
content: "";
position: absolute;
left: 15px;
bottom: 0px;
border-radius: 100%;
background-color: #3350e9;
width: 8px;
height: 8px;
}
.header-social{
display: flex;
margin-left: auto;
}
.header-social-list{
display: flex;
gap: 10px;
}

.header-icon-list {
border-color: 1px solid rgba(12, 12, 12, 0.1);
border-radius: 10px;
padding: 8px;
width: 36px;
height: 36px;
display: flex;
align-items: center;
justify-content: center;
/*transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}
.header-icon{
border: 1px solid rgba(12, 12, 12, 0.1);
border-radius: 10px;
padding: 8px;
width: 36px;
height: 36px;
display: flex;
align-items: center;
justify-content: center;
}
.menu-open-btn{
display: none;
}
}