.hero{
padding-bottom: 60px;
color: #0C0C0C;
}

.hero-title{
font-size: 40px;
font-weight: 600;
line-height: 38px;
letter-spacing: -0.8px;
margin-bottom: 20px;
}

.hero-span{
color: #3350E9;
}

.hero-text{
color: rgba(12, 12, 12, 0.70);
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.28px;
margin-bottom: 28px;
}

.hero-container{
display: flex;
flex-direction: column;
}

.hero-link-container{
    display: flex;
    align-items: flex-end;
    gap: 155px;
    margin-bottom: 28px;
}

.hero-link{
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.28px;
text-decoration-line: underline;
}

@media screen and (min-width: 768px){
    .hero{
        margin-bottom: 80px;
    }
    .hero-container:not(:last-child){
flex-basis: 50%;
    }

.hero-container>:last-child{
   
}

    .hero-title{
        font-size: 70px;
        line-height: 60px;
        letter-spacing: -1.4px;
        width: 557px;
    }
    .hero-text{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    width: 480px;
    }
}

@media screen and (min-width: 1280px){
    .hero{
        margin-bottom: 100px;
    }
    .hero-title{
    font-size: 72px;
    line-height: 63px;
    letter-spacing: -1.44px;
    width: 597px;
    }
    .hero-text{
    margin-bottom: 40px;
    }
}