@import url('./reset.css');
@import url("./header.css");
@import url("./header-menu.css");
@import url("./hero.css");
@import url("./about-us.css");
@import url("./catalog.css");
@import url("./advertisement.css");
@import url("./sale.css");
@import url("./reviews.css");
@import url("./contact-us.css");
@import url("./footer.css");

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.container{
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
      min-width: 768px;
      padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
  .container {
      min-width: 1280px;
      padding: 0 65px;
    }
}
